@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>What I Want to Get Out of IS 413</h2>
                <p class="lead">
                    I think I want to get out of this class similar to what I got out of IS 403: Be able to create and deploy a
                    website from start to finish. I don't know the plan for the end of the class,
                    but I'd like to learn how to deploy using a different tool than Heroku. I'm not expecting to be an ASP.NET pro by any means, but
                    I'm hoping that I'll feel confident about putting ASP.NET as a skill on my resume after this class.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Top 3 IS Jobs</h2>
                <p class="lead">
                    <ul>
                        <li>Data Science</li>
                        <li>Cybersecurity</li>
                        <li>Software Development</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

